:root{
  --sidebarInlinesize:15rem;
  --minBlocksize:37.5rem;
  --minInlinesize:48rem;
  --bottomsize:5.5rem
}

.layout{
  min-inline-size: var(--minInlinesize);
}

.layout-sidebar{
  block-size: calc(100vh - var(--bottomsize));
  min-block-size: var(--minBlocksize);
  inline-size: var(--sidebarInlinesize);
  overflow: auto;
  flex-shrink: 0;
  background: var(--gray60);
}

.layout-main{
  block-size: calc(100vh - var(--bottomsize));
  min-block-size: var(--minBlocksize);
  overflow: auto;
}

.layout-bottom{
  flex: 1;
  /* block-size:var(--bottomsize); */
}

.layout-block{
  display: flex;
}
